.App {
  text-align: center;
}

.bg-container {
  background-color: beige;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: "Open Sans";
  text-decoration: underline;
  font-size: 32px;
  color: #183b56;
  margin-bottom: 30px;
}